<crud>
    <div text>
        <div class="col-lg-8 title-arrow">
			<h1>Home</h1>
		</div>
        <br>
        <h5>Welcome to Nolleperioden!</h5>
        <p>
            An event that is planned and executed by voluntary students, 
            driven by their own accord to bring you the same fun and warm welcome that they themself received coming here. 
            Our Welcome Period (Nolleperioden) has one and only one purpose: To give you as good a start here at campus as possible!
        </p>
        <br>
        <p>
            The Welcome period goes on for about two weeks and during this period we arrange games, competitions “Spex”, “Sittningar” and a lot of other fun activities that will help you bond, not only with your own classmates, but everyone on Campus!
        </p>
        <ul style="list-style-type:disc">
            <li>Phösare is the title of the voluntary students that help arrange the Welcome Period. During the year they have been educated in conflict management, responsible alcohol usage, leadership and first aid.</li>
            <li>Överphösare are what we call the four students that were selected and volunteered to organize the Welcome Period. They have planned what activities will be held and arranged lectures for Phösarna as well as funding for Nolleperioden.</li>
            <li>Spex is a type of improvised theater show where the crowd can throw in curveballs in order to make things interesting. You can for example make the actors switch roles or speak in a different accent,</li>
            <li>Sittningar is a dinner occasion where you will be treated to a meal and some entertainment. Sometimes Sittningar has a theme when people can choose to attend with a costume that is appropriate to the theme. Sometimes we have Finsittningar which basically means it’s an occasion to dress up in your finest dress or suit.</li>
            <li>The roleplay is upheld through the entirety of the Welcome Period and is optional. If you do not want to participate in The roleplay, you do not have to. However, it is important that you respect The roleplay in order to not ruin the experience for the new students that want to take part, as well as for Phöseriet. In The roleplay there is a kind of hierarchy where Överphösarna is at the top. Beneath them are Phösare (who constantly have to deal with Överphösarnas pranky behaviour) and Nollor (who are the new students who yet to start their first year, Nollor directly translates to Zeroes). Between Phösare and Nollor there are no real hierarchical differences, except that Phösarna has a responsibility to Överphösarna while Nollorna are there to have fun.</li>
            <li><strong>So come and join us, and have fun!</strong></li>
        </ul>
        <br>
        <a href="assets\Welcome_letter_2022.pdf" download="Welcome_letter_2022"><button class="btn" style="width: 100%"><i class="fa fa-download"></i> Download "Welcome letter for Nolleperioden-2022"</button></a>
    </div>
</crud>