<div class="arrow">
    <p>Media</p>
</div>
<div style="margin-bottom: 10px; margin-top: 10px;" class="row justify-content-center">
	<div class="social-background facebook">
		<a href="https://www.facebook.com/Nolleperioden-2022-108041268633855" target="_blank" class="fab fa-facebook"></a>
	</div>
	<div class="social-background instagram">
		<a href="https://www.instagram.com/nollep2022" target="_blank" class="fab fa-instagram"></a>
	</div>
	<!-- <div class="social-background discord">
		<a href="" class="fab fa-discord"></a>
	</div> -->
</div>