<crud>
	<div text>
		<div class=" col-lg-8 title-arrow">
			<h1>Ditt Nollep</h1>
		</div>
		<br>
		<h5>Welcome to the student life at Campus Skellefteå!</h5>
		<p><strong>Hello, congratulations and welcome!</strong></p>
		<p>We want to invite you to participate in what most definitely will become the
			best two weeks you will experience during your time here at Campus Skellefteå:
			<strong>Nolleperioden</strong>, a welcoming period for new students!</p>
		<p>Nolleperioden is an arrangement planned and performed by volunteering
			students, driven by commitment and a dream of giving you a welcoming as fun
			as they themselves had. Our Nolleperiod has one purpose and one purpose
			only: to provide <strong>you</strong> - our new student - with the best start possible!</p>
		<p><strong>Phöseriet</strong> is the group arranging Nolleperioden. In collaboration with the
			schools: LTU, Futuregames & Visual Magic, we’ve planned two weeks filled with
			fun activities, teambuilding and events!</p>
		<p>The purpose with Nolleperioden is to give you an introduction and great
			opportunity to: get to know and bond with your classmates, familiarize
			yourself with Campus & the city, get closer to other students, and of course to
			get an amazing and memorable start of your studies!</p>
		<br>
		<h5>To give you an idea of what it’s all about, here is some information:</h5>
		<ul style="list-style-type:disc">
			<li>
				<strong>Nolleperioden</strong> is arranged yearly by <strong>Phöseriet</strong>. Phöseriet is a
				subsection of the <strong>Student Union of Campus Skellefteå</strong>. It consists of
				a group of volunteer students who put a lot of time and effort into
				giving new students as good of a welcome as possible. Nolleperioden
				spans for about two weeks. During this period there will be games,
				competitions, concerts, spex, dinners and field trips where you will get
				to know your classmates but also people from other classes as well.
			</li>
			<br>
			<li>
				<strong>Phösare</strong> are the volunteering students working to help with the
				arrangements. They have during the year been educated in conflict
				handling, responsible handling of alcohol, leadership, and first aid.
				They will help you take your first steps into student life and other fun
				traditions
			</li>
			<br>
			<li>
				<strong>Överphösare</strong> are the four students that have taken on the role of
				organizing Nolleperioden. They have planned what activities will be
				held, where to get funds, put together the training for the Phösare,
				along with arranging meetings to create unison within Phöseriet and
				making sure that the Phösare are well prepared to lead you through
				the event.
			</li>
			<br>
			<li>
				During Nolleperioden there will be an <strong>act</strong> ongoing throughout the
				entirety of Nolleperioden and it is <strong>completely voluntary</strong>. The act
				consists of a sort of “hierarchy”. At the top you have the all seeing and
				all knowing Adeln followed by Överphösarna, their right hand men.
				Below them are the Phösare (that continuously deals with the
				fathomless whims of Överphösarna) and Nollor (lit. ‘zeroes’ the new
				students who have yet to begin their first year!). There are no actual
				hierarchical differences between Phösare and Nollor except that the
				Phösare have a responsibility to Överphösarna whilst the Nollor are
				simply there to have fun! If you don’t wish to participate in the act you
				don’t have to, under the condition that you <strong><u>don’t spoil it for others.</u></strong>
			</li>
        </ul> 
		<p><strong><i>If the Nollor are not having fun then the Phösare aren’t having fun. If the Phösare
			aren’t having fun, then the Överphösare don’t have fun - and that’s no fun!</i></strong></p>
		<br>
		<h5>Tips for you, a new student</h5>
		<ul style="list-style-type:disc">
			<li>
				<strong>Participate in Nolleperioden!</strong> It’s a wonderful experience where you
				meet a lot of new friends. In addition, it serves as an excellent
				icebreaker for your entire studying period. “I remember once during
				my Nolle-P (short for Nolleperioden) when...”
			</li>
			<br>
			<li>
				<strong>Throw away the stereotypes!</strong> Discard boring stereotypes about
				welcoming periodes being all about peer pressure, ridiculing students
				and alcohol. Here we make sure that Nolleperioden is inclusive and
				fun for everyone! Especially the new students!
			</li>
			<br>
			<li>
				<strong>Let yourself loose!</strong> Everyone thinks it’s fun when someone
				embarrasses themself. Therefore it will be much more enjoyable when
				everyone does it all the time.
			</li>
			<br>
			<li>
				<strong>The student pub!</strong> Traversen is open almost every night. Traversen is
				a fantastic and cozy pub, also driven by students, located under the
				Cafeteria. Traversen offers a wide range of drinks, beverages, great
				non-alcoholic alternatives & some variety of snacks & food. You can
				however <strong>not</strong> pay with a card at Traversen - cash only!
				<strong>NOTE:</strong> Activities during Nolleperioden & entrance to Traversen are
				<strong>FREE</strong>.
			</li>
			<br>
			<li>
				<strong>Respect the act.</strong> It’s fun, and it becomes much more fun if everyone’s in on it.
				Even if you feel like it’s not what floats your boat - remember to respect
				others' wishes to join in.
			</li>
        </ul> 
	</div>
</crud>