<crud>
    <div text>
      <div class="d-none d-md-block">
      	<div class="col-lg-8 title-arrow">
			<h1>BREV TILL NOLLAN!</h1>
        </div>
        <br>
        <div class="row grid-divider">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <p>När <strong><strong>NOLLAN</strong></strong> har färdats hela vägen till Skellefteå, kommer <strong>NOLLAN</strong> kastas in i en helt ny värld, den akademiska världen.</p>
            <br>
            <p><strong>NOLLAN</strong> behöver inte oroa sig, <strong>NOLLAN</strong> kommer ha superskojroligt under sin första vecka av studietiden a.k.a. välkomstperioden, även i folkmun kallat Nolleperioden eller Nollep. <strong>NOLLAN</strong> ska absolut inte förväxla Nolleperioden med tidigare (eventuella) traumatiska så kallade “nollningar” med pennalism, hets, och annat supertråkigt. <strong><i>ÖVERPHÖSARNA</i></strong> och resten av Phöseriet lovar att ta hand om <strong>NOLLAN</strong> och göra allt för att <strong>NOLLAN</strong> ska minnas Nollep som ett av <strong>NOLLAN</strong>s bästa äventyr.</p>
            <br>
            <p>När <strong>NOLLAN</strong> lyckats ta examen och är redo att ge sig ut på nya äventyr kommer <strong>NOLLAN</strong> inte bara att ha enormt gigantiska kunskaper inom sitt utbildningsområde, utan <strong>NOLLAN</strong> kommer dessutom ha fått många nya vänner och nyttiga erfarenheter från detta äventyr.</p>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <p>Det kan kännas lite pirrigt i magen att inte ha <strong><sup>Föräldern</sup></strong> vid sin sida när <strong>NOLLAN</strong> kastas in i denna nya värld full av spännande upplevelser, som till exempel Nollekampen (är <strong>NOLLAN</strong> redo att kämpa för klassens ära?), men tillsammans med Phösarna kan <strong>NOLLAN</strong> simma lugnt! Phösarna finns där för <strong>NOLLAN</strong> i vått och torrt! Se på Phösarna som en typ av cool bonus-<strong><sup>Föräldern</sup></strong>, <strong>NOLLAN</strong>.</p>
            <br>
            <p><strong><i>ÖVERPHÖSARNA</i></strong>s superskojroliga aktiviter är ett perfekt tillfälle för <strong>NOLLAN</strong> att träffa och lära känna andra NOLLOR. <strong>NOLLAN</strong> ska dock inte glömma bort plugget! Att studera innebär både att plugga och att ha superskojroligt på fester eller andra aktiviteter. <strong>NOLLAN</strong> behöver därför lära sig hur mycket man måste plugga för att klara sin studier; även detta kan Phösarna hjälpa <strong>NOLLAN</strong> med, då Phösarna är studenter i årskurserna över <strong>NOLLAN</strong>. Ropa på hjälp och Phösarna är där, <strong>NOLLAN</strong>!</p>
            <br>
            <p><strong><i>ÖVERPHÖSARNA</i></strong> önskar <strong>NOLLAN</strong> stort lycka till när <strong>NOLLAN</strong> ska klättra mot sin examen och uppmanar <strong>NOLLAN</strong> att ha kanonmycket superskojroligt på vägen dit.</p>
          </div>
        </div>
      </div>
      <div class="d-sm-none">
        <div class="col-12 title-arrow">
			    <h2>BREV TILL NOLLAN!</h2>
        </div>
        <br>
        <p>När <strong><strong>NOLLAN</strong></strong> har färdats hela vägen till Skellefteå, kommer <strong>NOLLAN</strong> kastas in i en helt ny värld, den akademiska världen.</p>
        <br>
        <p><strong>NOLLAN</strong> behöver inte oroa sig, <strong>NOLLAN</strong> kommer ha superskojroligt under sina första veckor av studietiden a.k.a. välkomstperioden, även i folkmun kallat Nolleperioden eller Nollep. <strong>NOLLAN</strong> ska absolut inte förväxla Nolleperioden med tidigare (eventuella) traumatiska så kallade “nollningar” med pennalism, hets, och annat supertråkigt. <strong><i>ÖVERPHÖSARNA</i></strong> och resten av Phöseriet lovar att ta hand om <strong>NOLLAN</strong> och göra allt för att <strong>NOLLAN</strong> ska minnas Nollep som ett av <strong>NOLLAN</strong>s bästa äventyr.</p>
        <br>
        <p>När <strong>NOLLAN</strong> lyckats ta examen och är redo att ge sig ut på nya äventyr kommer <strong>NOLLAN</strong> inte bara att ha enormt gigantiska kunskaper inom sitt utbildningsområde, utan <strong>NOLLAN</strong> kommer dessutom ha fått många nya vänner och nyttiga erfarenheter från detta äventyr.</p>
        <p>Det kan kännas lite pirrigt i magen att inte ha <strong><sup>Föräldern</sup></strong> vid sin sida när <strong>NOLLAN</strong> kastas in i denna nya värld full av spännande upplevelser, som till exempel Nollekampen (är <strong>NOLLAN</strong> redo att kämpa för klassens ära?), men tillsammans med Phösarna kan <strong>NOLLAN</strong> simma lugnt! Phösarna finns där för <strong>NOLLAN</strong> i vått och torrt! Se på Phösarna som en typ av cool bonus-<strong><sup>Föräldern</sup></strong>, <strong>NOLLAN</strong>.</p>
        <br>
        <p><strong><i>ÖVERPHÖSARNA</i></strong>s superskojroliga aktiviter är ett perfekt tillfälle för <strong>NOLLAN</strong> att träffa och lära känna andra NOLLOR. <strong>NOLLAN</strong> ska dock inte glömma bort plugget! Att studera innebär både att plugga och att ha superskojroligt på fester eller andra aktiviteter. <strong>NOLLAN</strong> behöver därför lära sig hur mycket man måste plugga för att klara sin studier; även detta kan Phösarna hjälpa <strong>NOLLAN</strong> med, då Phösarna är studenter i årskurserna över <strong>NOLLAN</strong>. Ropa på hjälp och Phösarna är där, <strong>NOLLAN</strong>!</p>
        <br>
        <p><strong><i>ÖVERPHÖSARNA</i></strong> önskar <strong>NOLLAN</strong> stort lycka till när <strong>NOLLAN</strong> ska klättra mot sin examen och uppmanar <strong>NOLLAN</strong> att ha kanonmycket superskojroligt på vägen dit.</p>
      </div>
    </div>
</crud>